/* Temporary */
html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dee2b6;
}

.wrapper {
  position: relative;
  width: 100%;
}

/* Product Selector */
.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9999;
}

.product-selector {
  display: none;
  width: 100%;
  max-width: 1080px;
  margin: 30px;
  padding: 15px;
  background-color: #fff;
  position: relative;
  -webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}
.product-selector h2, .product-selector h3, .product-selector p {
  font-family: "Lato", sans-serif;
  color: #3D4246;
  margin-bottom: 5px;
}
.product-selector li {
  font-family: "Lato", sans-serif;
}
.product-selector h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
}
.product-selector h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.product-selector p, .product-selector li {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.product-selector strong {
  font-weight: 700;
}
.product-selector a {
  text-decoration: none;
}
.product-selector .btn-modal {
  border: 0;
  outline: 0;
  background-color: #FFA800;
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 17px 45px 15px;
  border-radius: 40px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
.product-selector .btn-modal:hover {
  background-color: #FF8A00;
}
.product-selector .error-notice {
  list-style: none;
  padding: 0 0 0 15px;
}
.product-selector .error-notice li {
  color: red;
}
.product-selector .close-modal {
  background: none;
  border: 0;
  outline: 0;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.product-selector .close-modal:hover .icon-close path {
  fill: #FFA800;
}
.product-selector .back-button {
  background: none;
  border: 0;
  outline: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-right: 10px;
  cursor: pointer;
}
.product-selector .modal-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}
.product-selector .modal-head h3 {
  margin-right: 10px;
}
.product-selector .modal-head .modal-step {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.product-selector .slide-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.product-selector .list-items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.product-selector .logo-row {
  margin-bottom: 5px;
}
.product-selector .logo-row img {
  max-height: 30px;
}
.product-selector .item-list {
  width: 100%;
}
.product-selector .item-list:first-child {
  margin-bottom: 30px;
  margin-right: 0;
}
.product-selector .items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  border: solid 1px #3D4246;
}
.product-selector .items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #E5E5E5;
  padding: 10px 30px;
  height: 200px;
  position: relative;
}
.product-selector .items .item.coming-soon {
  cursor: default;
}
.product-selector .items .item.coming-soon img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.5;
}
.product-selector .items .item.coming-soon:after {
  content: "Coming Soon";
  position: absolute;
  bottom: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #FFA800;
}
.product-selector .items .item:hover {
  border: solid 1px #FFA800;
}
.product-selector .items .item.coming-soon:hover {
  border: solid 1px #E5E5E5;
}
.product-selector .items .item img {
  max-width: 170px;
  max-height: 90px;
}
.product-selector .items .item p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}
.product-selector .connections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.product-selector .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
.product-selector .connection {
  margin-right: 10px;
}
.product-selector .connection .swatch {
  z-index: 0;
  position: relative;
  cursor: pointer;
}
.product-selector .connection .swatch .checkmark {
  opacity: 0;
  background-color: rgba(255, 168, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}
.product-selector .connection .swatch:hover {
  border-color: #FFA800;
}
.product-selector .connection .swatch.selected {
  border-color: #FFA800;
}
.product-selector .connection .swatch.selected .checkmark {
  background-color: rgba(255, 168, 0, 0.25);
  opacity: 1;
}
.product-selector .connection .clip,
.product-selector .connection .wired,
.product-selector .connection .push,
.product-selector .connection .not-sure {
  background-color: #FFFFFF;
  border: solid 2px #3D4246;
}
.product-selector .connection p {
  text-align: center;
  margin-top: 5px;
}
.product-selector .color {
  margin-right: 10px;
}
.product-selector .color .swatch {
  z-index: 0;
  position: relative;
  width: 75px;
  height: 75px;
  cursor: pointer;
}
.product-selector .color .swatch .checkmark {
  opacity: 0;
  background-color: rgba(255, 168, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}
.product-selector .color .swatch:hover {
  border-color: #FFA800;
}
.product-selector .color .swatch.selected {
  border-color: #FFA800;
}
.product-selector .color .swatch.selected .checkmark {
  background-color: rgba(255, 168, 0, 0.25);
  opacity: 1;
}
.product-selector .color .black {
  background-color: #000000;
  border: solid 2px #000000;
}
.product-selector .color .white {
  background-color: #FFFFFF;
  border: solid 2px #3D4246;
}
.product-selector .color p {
  text-align: center;
  margin-top: 5px;
}
.product-selector .options {
  width: 100%;
}
.product-selector .option .option-label {
  text-align: center;
}
.product-selector .product-details {
  max-width: 100%;
}
.product-selector .product-details img {
  max-width: 100%;
}
.product-selector .summary {
  width: 100%;
  text-align: center;
}
.product-selector .product-image-wrapper {
  text-align: center;
}
.product-selector .product-image {
  width: 100%;
  text-align: center;
}
.product-selector .product-image img {
  max-width: 100%;
}
.product-selector .modal-step-1 .slide-content-wrapper {
  margin-top: 30px;
}
.product-selector .modal-step-2 .slide-content-wrapper {
  margin-top: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.product-selector .modal-step-2 .product-details {
  margin-bottom: 20px;
}
.product-selector .result .slide-content-wrapper {
  margin: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.hidden {
  display: none;
}

@media screen and (min-width: 560px) {
  .product-selector {
    padding: 30px;
    margin: 30px;
  }
  .product-selector .items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .product-selector {
    padding: 45px;
  }
}
@media screen and (min-width: 960px) {
  .product-selector .modal-head {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .product-selector .slide-content-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .product-selector .item-list:first-child {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .product-selector .btn-modal {
    margin: 0;
  }
  .product-selector .connections {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .product-selector .colors {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .product-selector .option .option-label {
    text-align: left;
  }
  .product-selector .product-details {
    max-width: 50%;
    margin-left: 30px;
  }
  .product-selector .product-details img {
    max-width: 100%;
  }
  .product-selector .product-details.full-width {
    max-width: 100%;
  }
  .product-selector .summary {
    width: 50%;
    text-align: left;
  }
  .product-selector .product-image {
    width: 50%;
  }
  .product-selector .modal-step-2 .slide-content-wrapper {
    margin-top: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .product-selector .result .slide-content-wrapper {
    margin: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 1080px) {
  .product-selector {
    padding: 60px;
  }
}